<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estagram</title>
    <link rel="shortcut icon" href="~/ShortcutIcon.png">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Styles.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="logo" class="sticky-top">
        <a href="~/" style="text-decoration : none">Estagram</a>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
